# Tapşırıq 5.

## Zəhmət olmasa, yeni dataset yaradın və bu datasetdə yalnız satış kodu və hər satış zamanı marketə edilən ödəniş mövcud olsun.

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("esas_mehsullar.csv")
df = data.copy()
df.head()

,column_a,satish_kodu,mehsul_kodu,mehsul_ad,mehsul_kateqoriya,mehsul_qiymet,satish_tarixi,endirim_kompaniya,bonus_kart,magaza_ad,magaza_lat,magaza_long,magaza_location
0,0,577571,3334,GONDOL SIMPLE LABABO VE BUZLUK HALISI G61*50,Məişət məhsulları,3.68,2019-07-19T12:29:00,Sərin Yay günləri,True,Zabrat,40.485561,49.946741,POINT(49.9467409 40.4855613)
1,1,577571,4674,TAXTA BICAQ 3232,Qab-qacaq,2.25,2019-07-19T12:29:00,Sərin Yay günləri,True,Zabrat,40.485561,49.946741,POINT(49.9467409 40.4855613)
2,2,577571,8388,VITA 1LT ANANAS SIRESI,Meyvə Şirələri,2.50,2019-07-19T12:29:00,Sərin Yay günləri,True,Zabrat,40.485561,49.946741,POINT(49.9467409 40.4855613)
3,3,577571,6017,GILAN BAGDAN 1LT SARI GAVALI KOMPOTU,Kompotlar,1.45,2019-07-19T12:29:00,Sərin Yay günləri,True,Zabrat,40.485561,49.946741,POINT(49.9467409 40.4855613)
4,4,577571,8297,OSRAM SUPERSTAR LAMPA 64544A ECO 57W E27,Məişət məhsulları,2.92,2019-07-19T12:29:00,Sərin Yay günləri,True,Zabrat,40.485561,49.946741,POINT(49.9467409 40.4855613)

In [3]:
yeni_data = df.groupby("satish_kodu")["mehsul_qiymet"].sum()

In [5]:
# satis kodu ve edilen odenisler

pd.DataFrame(yeni_data.sort_values(ascending = False)).rename(columns = {"mehsul_qiymet" : "hesab"})

              hesab
satish_kodu
860618       411.58
429008       353.54
961707       352.19
642987       331.88
988421       314.47
...             ...
291879         0.48
363359         0.48
471756         0.44
788831         0.35
744872         0.25

[80000 rows x 1 columns]